<head>
    <meta charset="UTF-8">
</head>

<body>
    <div class="">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <img class="setimginput" src="../../assets/Screenshot_1.png" alt="logo" style="height: 120px ;width: 300px;">
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>

        <div class=" font-Ekkamai" style="background: rgb(73, 50, 138);">
            <div class="row">
                <div class="col"></div>
                <div class="" style="font-size: 16px;">
                    <div class="mt-0">
                        <ul class="nav">
                            <!-- <li class="nav-item">
                                <a class="nav-link active text-header">######</a>
                            </li>
                            <div class="borderCustom" style="line-height: 10.5;"></div>
                            <li class="nav-item">
                                <a class="nav-link text-header" href="">######</a>
                            </li> -->
                            <div class="borderCustom" style="line-height: 10.5;"></div>
                            <li class="nav-item">
                                <a class="nav-link text-header" href="">คู่มือส่งบทความ</a>
                            </li>
                            <div class="borderCustom" style="line-height: 10.5;"></div>
                            <li class="nav-item">
                                <a class="nav-link text-header">ติดต่อกองบรรณาธิการ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</body>