/* body {
    background-color: coral;
    margin-left: 180px;
    margin-top: 3%;
    margin-right: 10%;
    margin-bottom: 10%;
    padding: 0;
} */

.titlepage {
    font-size: 32px;
    color: #00ACFF;
}

.setsizeicon {
    padding: 0;
    height: 24px;
    width: 21px;
    text-shadow: 1px 1px 1px #ccc;
}

.setsizeiconupload {
    height: 25px;
    width: 25px;
    text-shadow: 1px 1px 1px #ccc;
}

p {
    margin: 0;
}

.btn-download {
    width: 66px;
    height: 28px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn-upload {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 2px 5px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
}

.btn-upload:hover {
    cursor: pointer;
    background: gray;
    color: honeydew;
}

.err-uoload-pdf {
    color: red;
    font-weight: bold;
}